body 
{
    margin: 0;
    background: #222;
}
/* Navbar */
.navbar
{
    background: #55d6aa;
    height: 3.4rem;
}
.container 
{
    width: 80%;
    margin: 0 auto;
}
.logo
{
    float: left;
}
nav 
{
    float: right;
    
}

nav ul 
{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li 
{
    display: inline-block;
    margin-left: 70px;
    padding-top: 21px;
    position: relative;
}

nav a 
{
   text-decoration: none;
   color: black;  
}
nav a:hover 
{
    color: black;
}

nav a::after
{
    content: '';
    display: block;
    height: 3px;
    background-color: black;

    width: 0%;
    position: absolute;
    bottom: -15px;
    transition: all ease-in-out 300ms;
}

nav a:hover::after
{
    width: 100%;
}
/* Navbar */
