header
{
    background: #55d6aa;
}
header::after
{
    content: '';
    display: table;
    clear: both;
}
body 
{
    margin: 0;
    background: #222;
}
.container 
{
    width: 80%;
    margin: 0 auto;
}
.logo
{
    float: left;
}

nav 
{

}

nav ul 
{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li 
{
    display: inline-block;
    margin-left: 70px;
    padding-top: 21px;
}

nav a 
{
   text-decoration: none;
   color: black;  
}
