body,
h1,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 300;
  font-size: 1.3rem;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  line-height: 1;
}

img {
  display: block;
  max-width: 100%;
}
/* list  form   */
#errormsg {
  margin: 0;
  color: red;
}
/* enklast med flex :) block måste jag sätta form till någon width */
#chooseFilmCont {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

/*Output */
section {
  padding: 3rem;
}
.bg-1 {
  background-color: rgb(75, 32, 1);
  color: white;
}
.bg-2 {
  background-color: rgb(27, 22, 19);
  color: white;
}
.outCont {
  margin-inline: auto; /*x and y sidorna ny css */
  /* 75rem ungefär 1200px dvs max bredd är 1200px ungefär sedan är det 90% av skärmen dvs lite marginaler */
  width: min(90%, 75rem);
}
.split {
  display: flex;
  flex-direction: row;
}

/* trevligt när de är splitar i 2 columner:)*/
.split > * {
  flex-basis: 100%;
}
.split > * + * {
  margin-left: 3rem;
}
